:root {
  --rowNum: 2;
  --colNum: 3;
}

.container {
 display: grid;
 grid-template-columns: 49% 2% 49%;
 grid-template-rows: 120px auto 40px;
 font-family: lora;
}

.table {
    grid-template-columns: 100px repeat(var(--colNum), auto);
    grid-column: 1;
    grid-row: 2;
    display: grid;
}

.columnHeader {
  overflow: hidden;
  font-variant: small-caps;
  font-size: calc(100% - 2px);
  border: none;
  padding-left: 5px;
}

.columnHeaderWrapper {
  overflow: hidden
}

.cell {
  font-size: calc(100% - 2px);
  overflow: hidden;
  border: none;
  padding-left: 5px;
  color: grey;
}

.handleLabel {
    font-size: 13px; 
    margin-top: -35px;
    margin-left: -15px;
    width: 60px;
    color: grey;
}

.rowName {
  overflow: hidden;
  font-size: calc(100% - 2px);
  border: none;
} 

.rowNameWrapper {
  overflow: hidden
}

.sliders {
    grid-column:3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 1;
    display: grid;
}

.slider {
  grid-column: 1;
}

.sliderLabel {
    font-size: 15px;
    font-variant: small-caps; 
    color: grey;
}

.buttons-container {
   display: grid;
   grid-column: 1;
   grid-row: 3;
   grid-template-columns: 4;
   grid-template-rows: 1;
}

.buttons {
  background-color: white;
  color: black;
  border-color: #2C4870;
  border-radius: 10%;
  margin: 2px;
  font-size: 14px;
  height: 40px;
}

.download {
  background-color: #2C4870;
  color: white;
}

.add-sample {
  grid-column: 1
}

.remove-sample {
  grid-column: 2
}

.add-dimension {
  grid-column: 3
}

.remove-dimension {
  grid-column: 4
}


.handle {
    position: absolute;
    margin-left: -15px;
    margin-top: 28px;
    z-index: 2;
    width: 15px;
    height: 15px;
    border: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #2C4870;
    color: #333
}

.rail {
  position: absolute;
  width: 100%;
  height: 1px;
  margin-top: 35px;
  border-radius: 15px;
  background-color: #024653;
}

.title {
  text-align: center;
  font-size: 70px;
  color: #024653;
}



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Lora', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {font-family: lora}


/*
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }
*/
