:root {
  --rowNum: 2;
  --colNum: 3;
}

.container {
 display: grid;
 grid-template-columns: 50% 50%;
 grid-template-rows: auto 40px;
 font-family: roboto;
}

.table {
    grid-template-columns: 100px repeat(var(--colNum), auto);
    grid-template-rows: repeat(var(--rowNum), 50px);
    grid-column: 1;
    display: grid;
}

.sliders {
    grid-column:2;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 1;
    display: grid;
}

.slider {
  grid-column: 1;
}

.buttons-container {
   display: grid;
   grid-column: 1;
   grid-row: 2;
   grid-template-columns: 4;
   grid-template-rows: 1;
}

.buttons {
  background: white;
  font-family: roboto;
  font-size: 14px
}

.add-sample {
  grid-column: 1
}

.remove-sample {
  grid-column: 2
}

.add-dimension {
  grid-column: 3
}

.remove-dimension {
  grid-column: 4
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }
